.awesomeTable {
	width: 100%;
}

.searchForm {
	margin: 1em;
}

button:hover {
	background-color: seagreen;
}

input {
	margin-left: 1em;
	margin-right: 1em;
}

table thead {
	font-weight: bold;
}

tr.dataRow:nth-child(odd) {
	background: #E0FFF0;
}

tr.dataRow:hover {
	background-color: lightgreen;
}

.giantButton {
	padding: 1em 5em 1em 5em;
	background-color: #E0FFF0;
}

.giantButton:hover {
	background-color: lightgreen;
	cursor: pointer;
}

.headerBar {
	border-bottom: thin solid black;
	padding-bottom: 1em;
	margin-bottom: 1em;
}