.awesomeTable {
	width: 100%;
}

td.sortableHeader {
	cursor: pointer;
}

.searchForm {
	margin: 1em;
}

button:hover {
	background-color: seagreen;
}

input {
	margin-left: 1em;
	margin-right: 1em;
}

table thead {
	font-weight: bold;
}

tr.dataRow:nth-child(odd) {
	background: #E0FFF0;
}

tr.dataRow:hover {
	background-color: lightgreen;
}

.giantButton {
	padding: 1em 5em 1em 5em;
	background-color: #E0FFF0;
	cursor: pointer;
}

.mediumButton {
	padding: 1ex;
	background-color: #E0FFF0;
	cursor: pointer;
}

.selectedButton {
	background: linear-gradient(to top, #E0EEE0 , lightgreen);
}

.giantButton:hover, .mediumButton:hover{
	background-color: lightgreen;
}

.headerBar {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.clickable {
	cursor: pointer;
}

.raceTitle {
	font-size: larger;
	font-weight: bold;
	padding: 1em;
}

.propertiesSection {
	margin-bottom: 1em;
	margin-top: 1em;
}

.raceProperty {
	padding-right: 2em;
}

.divisionSelector {
	padding-left: 1em;
}

.statsBox {
	float: right;
}